/* ==============================================================
                        CUSTOMIZING BOOTSTRAP 
=================================================================*/

//OverRides Bootstrap variables from_variables.scss to overright default values
//Don't modifyling the source file PLEASE


/* ==============================================================
                        INIT MORPEXT
=================================================================*/
.morphext > .animated {
    display: inline-block;
}

/* ==============================================================
                        MAgnetic -POP DESIGN
=================================================================*/
.mfp-arrow-left {
    display: none  !important;
}

.mfp-arrow-right  {
    display: none  !important;
}

