.header {
  height: 100vh;
  margin-bottom: 20rem;
  position: relative;

  @media only screen and (max-width: 768px) {
    margin-bottom: 10rem;
  }

  @media only screen and (max-width: 576px) {
    margin-bottom: 5rem;
  }

  &__icon--down {
      font-size: 4rem;
      color: black;
      position: absolute;
      bottom: 5rem;
      left:50%;
      transform: translateX(-50%);

      &:hover {
        color: grey;
        opacity: 0.7;
        text-shadow: 1px 0px 2px black;
        animation: down 1s ;
      }
  }

  &__logo {
    margin-top: 6rem;

    h1 {
      transform: rotate(270deg);
      font-family: 'Advent Pro', sans-serif;
      font-size: 2rem;
      color: black;
      letter-spacing: 1.2px;
      text-align: center;
      font-weight: 600;
      line-height: 1;
    }

    h3 {
      transform: rotate(270deg);
      font-family: 'Advent Pro', sans-serif;
      font-size: 1.4rem;
      color: black;
      font-weight: 200;
      letter-spacing: 1.2px;
      margin-left: -4rem;

    }

    a {
      color:black;

      &::before{
        width: 1px;
        height: 0.1rem;
        content: "";
        background-color: black;
        position: absolute;
        left:8.4rem;
        top:11.5rem;
        transition: all .3s;
      }

      &:hover::before{
        height: 10.5rem;
        top:1rem;
      }

      &:hover {
        text-decoration: none;
      }
    }

    &--number {
      margin-left: -5.7rem!important;
    }

    svg {
      margin-left: -3rem;
    }
  }

  &__bg {
    &--svg {
      position: fixed;
      margin-left: 20rem;
    }
  }

/* ==============================================================
                      RIGHTBOX DESIGN
=================================================================*/
  &__rightbox {
    position: relative;
    margin-top: 20rem;
    transition: all 1.6s;

    @media only screen and (max-width: 992px) {
      margin-left: 20rem;
    }

    &--h1 {
      position: absolute;
      font-family: 'Advent Pro', sans-serif;
      font-weight: 700;
      font-size: 8.9rem;
      color: black;
      letter-spacing: 1.2px;
      text-align: center;
      line-height: 6.6rem;
      top: 11rem;
      left: -20rem;

      @media only screen and (max-width: 576px) {
        font-size:  7rem;
      }
    }

    &--mt8 {
      margin-top:7.5rem;
      margin-left: 10rem;
    }

    &--h3 {
      position: absolute;
      font-family: 'Advent Pro', sans-serif;
      font-weight: 200;
      font-size: 2rem;
      color: black;
      letter-spacing: 1.2px;
      text-align: center;
      top: 9rem;
      left: -10rem;
    }

    &--svg {
      position: absolute;
      z-index: -1;
      top: -5rem;
      min-width: 50%;
    }
  }
}

/* ==============================================================
                        CREATIVE BG TEXT
=================================================================*/
.bgheader {
  &__fix {
    position: fixed;

    @media only screen and (max-width: 576px) {
      opacity: 0.5;
    }
    

    &--h {
      position: absolute;
      top: 10rem;
      left: 16rem;

      @media only screen and (max-width: 992px) {
        width: 33px;
        height: 45.5px;
      }
    }

    &--i {
      position: absolute;
      top: 18rem;
      left: 37rem;

      @media only screen and (max-width: 992px) {
        width: 7.5px;
        height: 45.5px;
      }
    }

    &--t {
      position: absolute;
      top: 70rem;
      left: 20rem;

      @media only screen and (max-width: 992px) {
        width: 33px;
        height: 45.5px;
      }
    }
    &--l {
      position: absolute;
      top: 70rem;
      left: 94rem;

      @media only screen and (max-width: 992px) {
        width: 33px;
        height: 45.5px;
      }
    }

    &--v {
      position: absolute;
      top: 50rem;
      left: 45rem;

      @media only screen and (max-width: 992px) {
        width: 33px;
        height: 45.5px;
      }
    }

    &--m {
      position: absolute;
      top: 0rem;
      left: 80rem;

      @media only screen and (max-width: 992px) {
        width: 33px;
        height: 45.5px;
      }
    }

    &--a {
      position: absolute;
      top: 24rem;
      left: 85rem;

      @media only screen and (max-width: 992px) {
        width: 33px;
        height: 45.5px;
      }
    }
  }
}

/* ==============================================================
                        BOTTOM DESIGN
=================================================================*/
.bottom {
  &__text {
    position: relative;
    h1 {
      transform: rotate(270deg);
      font-family: 'Advent Pro', sans-serif;
      font-weight: 600;
      font-size: 2rem;
      color: black;
      letter-spacing: 1.2px;
      margin-bottom: 2rem;
      cursor: pointer;
      
      @media only screen and (max-width: 576px) {
        transform: rotate(0deg);
        margin-left:1rem;
        margin-bottom: 0rem;
      }

      &:after {
        content: "";
        position: absolute;
        height: 2px;
        width: 1%;
        top:-0.4rem;
        left:0rem;
        background-color: black;
        transition: all .3s;
      }

      &:hover::after {
        width: 100%;

        @media only screen and (max-width: 576px) {
          width: 50%;
         
        }
      }
    }

    h3 {
      font-family: 'Advent Pro', sans-serif;
      font-weight: 200;
      font-size: 1.4rem;
      color: black;
      letter-spacing: 1.2px;
      margin-bottom: 3rem;
      margin-left: -4.8rem;
      transform: rotate(270deg);

      @media only screen and (max-width: 576px) {
        transform: rotate(0deg);
        margin-left:1.5rem;
        margin-bottom: 2rem;
       
      }
    }

    &--scroll {
      content: "";
      position: absolute;
      height: 15.5rem;
      width: 2px;
      top:-10rem;
      right:4.1rem;
      background-color: rgba(128, 128, 128, 0.342);
      overflow: hidden;

      &:before {
        content: "";
        height: 6rem;
        width: 2px;
        background-color: black;
        top: 0;
        left:0;
        position: absolute;
        transform: translateY(-100%);
        animation: scrollmove 2s infinite cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &--h1 {
        margin-top:2rem;

        @media only screen and (max-width: 576px) {
          margin-top: 0rem;
         
        }
      }
    }
  }
}

@keyframes scrollmove {
  from {transform: translateY(-100%);}
  to {transform: translateY(15.5rem);}
}

/* ========================================================
                      CONTACT LEFT SIDE
  ========================================================*/
  .header {

    &__left {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left:0;
      transform: translateX(-100%);
      z-index: 100;
    }
  }

  .header {

    &__right {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left:0;
      transform: translateX(100%);
      z-index: 100;
    }
  }

/* ========================================================
                      BG ANIMATE
========================================================*/
.bganimate {

  &__t {
    animation: t 10s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }

  &__h {
    transform: rotate(270deg);
    animation: h 7s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__m {
    animation: m 5s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__l {
    animation: l 8s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__a {
    animation: a 4s infinite cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

}

@keyframes a {
  0% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(100%);
    
    
  }

  90% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    

  }
}

@keyframes t {
  0% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(0);
  }

  90% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0%);

  }
}

@keyframes h {
  0% {
    transform: translateX(0);
  }

  80% {
    transform: translateX(0);
    fill: #473E65;
  }

  90% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);

  }
}

@keyframes m {
  0% {
    transform: translateX(0);
  }

  80% {
    transform: translateX(100%);
    fill: #00567D;
  }

  90% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);

  }
}

@keyframes l {
  0% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(100%);
    fill: #AB3F3A;
    
  }

  90% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    

  }
}