/* ========================================================
                      CONTACT DESIGN
========================================================*/
.contact {
  /* background-image: linear-gradient(
    to right bottom,
    rgba(36, 202, 188, 0.514),
    rgba(230, 106, 62, 0.541)
  ); */
  height: 100vh;
  transition: all 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);

  &__textbox {
    &--h1 {
      font-family: "Advent Pro", sans-serif;
      font-weight: 700;
      font-size: 8.9rem;
      color: black;
      letter-spacing: 1.2px;
      margin-left: -3px;
      line-height: 8.6rem;
    }

    &--h3 {
      font-family: "Advent Pro", sans-serif;
      font-weight: 600;
      font-size: 1.5rem;
      color: black;
      letter-spacing: 1.3px;
    }
  }

  &__form {
    &--input {
      font-size: 1.5rem;
      font-family: inherit;
      padding: 1.5rem;
      background-color: transparent;
      color: inherit;
      border: 1px solid black;
      width: 100%;
      margin-top: 3rem;
      position: relative;

      &::-webkit-input-placeholder {
        font-family: "Advent Pro", sans-serif;
        color: black;
        font-size: 1.3rem;
        line-height: 145%;
        font-weight: 400;
        letter-spacing: 0.5rem;
        text-transform: lowercase;
      }
      //A form input mezőjének a változtatása ha rossz amit bevisznek! bármit változtathatunk
      &:focus:invalid {
        border-bottom: 0.2rem solid rgb(143, 51, 51);
      }
    }
    &--input:focus {
      font-family: "Advent Pro", sans-serif;
      outline: none;
      border-bottom: 0.2rem solid rgb(44, 114, 44);
      color: black;
      font-size: 1.3rem;
      line-height: 145%;
      font-weight: 400;
      letter-spacing: 0.5rem;
      text-transform: lowercase;
    }

    &--button {
      position: relative;
      border: none;
      padding: 0;
      background-color: transparent;
      font-family: "Advent Pro", sans-serif;
      font-weight: 600;
      font-size: 1.5rem;
      color: black;
      letter-spacing: 1.2px;
      margin-top: 3rem;
      cursor: pointer;

      &:after {
        content: "";
        position: absolute;
        height: 2px;
        width: 10%;
        top: 0;
        left: 0;
        background-color: black;
        transition: all 0.3s;
      }

      &:hover::after {
        width: 100%;
      }

      &:active {
        border: none;
        outline: none;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &--h1 {
    font-family: "Advent Pro", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: black;
    letter-spacing: 1.3px;
  }

  &--h3 {
    font-family: "Advent Pro", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: black;
    letter-spacing: 1.3px;
  }

  &--p {
    font-family: "Advent Pro", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: black;
    letter-spacing: 1.3px;
    margin-left: 4rem;

    &:hover {
      color: black;
      text-decoration: none;
    }
  }

  &__social svg {
    transition: all 0.3s;

    &:hover {
      transform: translateY(2px);
    }
  }

  &__marginbottom {
    margin-top: 1rem;
  }

  &__close {
    position: absolute;
    top: 0rem;
    right: 0rem;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: transparent;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;

    &::before,
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 30px;
      left: 60px;
      width: 20px;
      height: 2px;
      background-color: black;
      transition-property: transform;
      transition-duration: 0.3s;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(135deg);
    }

    &:hover::before {
      transform: rotate(225deg);
    }

    &:hover::after {
      transform: rotate(315deg);

    }
  }
}
