.menedekhaz {
    position: relative;
    height: 100vh;
    margin-bottom: 20rem;

    @media only screen and (max-width: 768px) {
        margin-bottom: 10rem;
      }
    
      @media only screen and (max-width: 576px) {
        margin-bottom: 5rem;
      }

    &__svgbox {
        position: absolute;
        top: 25%;
        right:0;
        z-index: 2;
        opacity: 0.5;
    }

    &__logobox {
        transform: translateX(-10rem);
    }

    &__textbox {
        h1 {
            font-size: 8rem;
            transform: translateX(-8rem);
        }

        img {
            margin-left:-2rem;
        }
    }
}